@model Dw23787.Models.Users
@using Dw23787.Data
@using System.Security.Claims
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    @{
        string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        var user = _context.UsersApp.FirstOrDefault(u => u.UserID == userId);
    }

<h4>User @user.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                 <label asp-for="Quote" class="control-label"></label>
                 <input asp-for="Quote" class="form-control" />
                 <span asp-validation-for="Quote" class="text-danger"></span>
            </div>
                <div class="form-group mb-2">
                    <label asp-for="ProfilePicture" class="control-label"></label>
                    <input type="file" asp-for="ProfilePicture" class="form-control" />
                    <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                </div>

            @if (user.isAdmin)
            {
            <div class="form-group mb-2">
                <label asp-for="isAdmin" class="control-label"></label>
                <select asp-for="isAdmin" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="isAdmin" class="text-danger"></span>
            </div>       
            }
            <div class="form-group mb-2">
                <label asp-for="UserID" class="control-label"></label>
                <input readonly asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
